<h1><% unless current_user.user_name == "" then %> <%=current_user.user_name+"さんの" %> <% end%>タスク一覧</h1>
<table id="task_board" class="board">
  <tr>
  <td id="todoCaption" class="todo">
    まだ未着手
    <div id="todo_board" class="board">
    <%=render @todo_tasks %>
    </div>
  </td>
  <td id="doingCaption" class="doing">
    取り組み中
    <div id="doing_board" class="board">
    <%=render @doing_tasks %>
    </div>
  </td>

  <td id="doneCaption" class="done">
    完了
    <div id="done_board" class="board">
    <%=render @done_tasks %>
    </div>
  </td>
  </tr>
</table>

<br />

