<h2>検索結果</h2>
<table>
  <th class="list_menu">ユーザ名</th>
  <th></th>
 <% @users.each do |user| %>
  <tr>
    <td><%=user.name %>
    <td><%if @count.to_i <= 30 %> <%=link_to 'グループに追加', action: 'set_user',controller: 'users', user_id: user.id, group_id: @group.id %><% end %></td>
  </tr>
  <% end %>
</table>
