<h2>ユーザ一覧</h2>

<table >
  <tr>
    <th class = "list_menu">ユーザ名</th>
    <th class = "list_menu">provider</th>
    <th class = "list_menu"></th>
  </tr>
  <% @users.each do|user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.provider %></td>
      <td></td>
    </tr>
<% end %>
</table>

