<form accept-charset="UTF-8" action="update_profile" class="profile"
   enctype="multipart/form-data" id="update_profile_image" method="post">
  <div class="field">
    <%=hidden_field_tag :avatar_cache %>
    画像<br />
    <%= file_field_tag :avatar %>
  </div>
  <div class="actions">
    <%=submit_tag %>
  </div>
</form>

