<p id="notice"><%= notice %></p>
<div class="profile_form">
  <p>
    <b>ユーザ画像:</b>
    <% if @user.avatar %>
    <%=cl_image_tag(@user.avatar_url,:alt=>"profile image",:width=>90,:height=>90,:crop=>:thumb) %>
    <% end %>
  </p>
  <hr/>
  <p>
    <b>名前:</b>
    <%=@user.name %>
  </p>
</div>

