<div id="user_info" class="login_user_info" >
  <span>&nbsp;&nbsp;<%=current_user.user_name %>さん、こんにちは！ &nbsp;&nbsp;|&nbsp;&nbsp;<%=link_to 'ログアウト' ,destroy_user_session_path, :method=>'delete' %>
  </span>
</div>

