<menu class="menu_text_smt">
<% unless controller.controller_name=="top" %>
<div class="menu_text_smt">
  <%= link_to 'Topã¸', {:action=>'index',:controller=>'top'} %><br/>
  <%=render "common/#{controller.controller_name}_menu_smart_phone" %>
</div>
<% end %>
</menu>

